  <div class="media">
    <% comments.each do |comment| %>
    <div class="media">
      <%= content_tag :p, (markdown comment.body) %>
      <% if policy(comment).destroy? %>
        <%= link_to "Delete", [@topic, @post, comment], method: :delete %>
      <% end %>
    <% end %>
  </div>
</div>



