<div class="row">
  <div class="col-md-8">
    <% comments.each do |comment| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to (markdown comment.body), [@topic, @post] %>
          <%#= content_tag :p, (markdown comment.body) %>
        </h4>
      </div>
    </div>
  </div>
  <% end %>
</div>


